@tailwind base;
@tailwind components;
@tailwind utilities;

/* animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* base */
@layer base {
  * {
    color: var(--color-text-main);
  }
  h1,
  h1 * {
    font-size: 32px;
    font-weight: 700;
  }
  h2,
  h2 * {
    font-size: 18px;
    font-weight: 500;
  }
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    h3{
      margin-bottom: 64px;
    }
  }
  p {
    margin: 0;
  }
}

:root {
  --header-height: 64px;

  --color-base: #ffffff;

  --color-text-main: #1a1a1a;
  --color-text-hover: #999999;
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease forwards;
}
