@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* globals.css */
@layer base {
  *{
    color: var(--color-text-main);
  }
  p {
    margin: 0;
  }
}

:root{
  --header-height: 64px;

  --color-text-main: #1a1a1a;
  --color-text-hover:#999999;
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease forwards;
}
